.mobileNav {
	position: fixed;
	padding: 2em;
	right: -100vw;
	width: 100vw;
	height: 100%;
	background-color: var(--secondary-color);
	transition: 0.5s ease-in-out;
	z-index: 998;
}

.mobileNav--show {
	right: 0;
}

.mobileNav nav {
	margin: auto 0;
}

.mobileNav__item {
	margin: 0.5em 0;
	color: var(--white);
	font-size: var(--font-size-32px);
	text-transform: capitalize;
	text-decoration: none;
}

.mobileNav__item:first-of-type {
	margin-top: 0;
}

.mobileNav__item:last-of-type {
	margin-bottom: 0;
}

.mobileNav__socailList {
	margin: auto 0 0 0;
	width: 50%;
}

.mobileNav__socailList__item a i {
	color: var(--darkmode-3);
	font-size: var(--font-size-40px);
}
