.work {
	margin: 1em 0;
	padding: 2em;
	background-color: var(--darkmode-2);
	border: 2px solid var(--darkmode-1);
}

.work:first-of-type {
	margin-top: 0;
}

.work:last-of-type {
	margin-bottom: 0;
}

.work__heading {
	margin-bottom: 1em;
	font-size: var(--font-size-18px);
	color: var(--secondary-color);
}

.work__copy {
	font-weight: 300;
}
