.header {
	position: fixed;
	width: 100%;
	padding: 2em;
	opacity: 1;
	transition: 0.2s 0.1s ease-in-out;
	z-index: 999;
}

.header--hide {
	opacity: 0 !important;
}

.header__image {
	width: auto;
	max-height: 2.5em;
	border-radius: 50%;
}

.header__button {
	margin-left: auto;
	transition: 0.2s ease-in-out;
}

.header__button__icon {
	font-size: var(--font-size-40px);
	color: var(--text-comment);
	transition: 0.2s 0.1s ease-in-out;
}

.header__button__icon--white {
	color: var(--white);
}

.header__desktopNav {
	width: 50%;
}
