.header {
	position: fixed;
	width: 100%;
	height: 10vh;
	padding: 2em;
	z-index: 999;
	animation: topSlideIn 0.5s 3.1s ease-in both;
}

.header__logo span {
	transition: 0.2s 0.1s ease-in-out;
}

.header__hamburger {
	margin-left: auto;
	transition: 0.2s ease-in-out;
}

.header__hamburger i {
	font-size: 2em;
	color: var(--paragraph-color-comment);
}

.header__desktopNav a {
	text-decoration: none;
}

.header--background-black2 {
	background-color: var(--black-2);
	transition: 0.2s ease-in-out;
}
