header {
	position: fixed;
	width: 100%;
	height: 10vh;
	padding: 2em;
	z-index: 999;
	animation: topSlideIn 0.5s 3.1s ease-in both;
}

header h4 span {
	transition: 0.2s 0.1s ease-in-out;
}

header button {
	margin-left: auto;
	color: var(--paragraph-color-comment);
	font-size: 2em;
	transition: 0.2s ease-in-out;
}

header nav a {
	text-decoration: none;
}

.header-background-color {
	background-color: var(--black-2);
	transition: 0.2s ease-in-out;
}
