@media (min-width: 768px) {
	.header {
		padding: var(--mobile-padding-425px) var(--tablet-padding-768px);
	}

	.header__button {
		display: none;
	}

	.header__desktopNav {
		display: flex !important ;
		width: 50%;
	}
}

@media (min-width: 1024px) {
	.header {
		padding: var(--tablet-padding-768px) var(--desktop-small-padding-1024px);
	}
}

@media (min-width: 1080px) {
	.header {
		padding: var(--tablet-padding-768px) var(--desktop-large-padding-1080px);
	}

	.header__image {
		max-height: 3em;
	}

	.header__desktopNav {
		width: 25%;
	}
}

@media (min-width: 1140px) {
	.header {
		padding: var(--tablet-padding-768px) var(--desktop-large-padding-1440px);
	}
}
