@media (min-width: 320px) {
	.section__block i {
		right: var(--mobile-small-padding-320px);
	}
}

@media (min-width: 375px) {
	.section__block i {
		right: var(--mobile-small-padding-375px);
	}
}

@media (min-width: 768px) {
	.section--home {
		padding-top: 11em;
	}

	.section__block i {
		right: var(--tablet-padding-768px);
	}
}

@media (min-width: 1024px) {
	.section__block i {
		right: var(--desktop-small-padding-1024px);
	}
}

@media (min-width: 1080px) {
	.section__block i {
		right: var(--desktop-large-padding-1080px);
	}
}

@media (min-width: 1440px) {
	.section__block i {
		right: var(--desktop-large-padding-1440px);
	}
}
