* {
	margin: 0;
	padding: 0;
	color: var(--white);
	font-family: "Roboto Mono", monospace, sans-serif;
	box-sizing: border-box;
}

h1 {
	display: none;
}

h2 {
	font-size: var(--font-size-50px);
	font-weight: 400;
}

p {
	margin: 0 0 0.75em 0;
	color: var(--white);
	font-size: var(--font-size-16px);
}

ul {
	list-style: none;
}

button {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

button:focus {
	outline: none;
}

.section {
	position: relative;
	padding: 2em;
	min-height: 100vh;
	background-color: var(--black-2);
}

.section--home {
	background-image: linear-gradient(
		to right top,
		#1a1527,
		#181629,
		#16172c,
		#13182e,
		#0f1930,
		#12172d,
		#151629,
		#161426,
		#180f1c,
		#150913,
		#0e0409,
		#000000
	);
	border-bottom: 2px solid var(--darkmode-1);
}

.section__heading {
	margin: 0 0 1em 0;
	font-size: var(--font-size-22px);
	font-weight: 400;
}

.section__text--comment {
	color: var(--paragraph-color-comment);
}

.display--flex-h {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.display--flex-v {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.display--none {
	display: none !important;
}

.overflow--hidden {
	overflow: hidden;
}

.h2-fancy {
	font-family: "Palatino", serif;
	font-style: italic;
}

.h2-small {
	font-size: 0.5em;
}

.span--white {
	color: var(--white);
}

.span--pink {
	color: var(--pink);
}

.span--function {
	color: var(--green);
}

.span--string {
	color: var(--yellow);
}

.span--orange {
	color: var(--orange);
}

.span--number {
	color: var(--purple);
}

.span--blue {
	color: var(--blue);
	font-style: italic;
}

.span--darkmode-3 {
	color: var(--darkmode-3);
}

.span--secondary {
	color: var(--secondary-color);
}

.button {
	display: block;
	margin: 4em auto 0 auto;
	padding: 1em 2em;
	width: 100%;
	color: var(--white);
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 25px;
}

.button-solid {
	background-color: var(--secondary-color);
}

.button-border {
	color: var(--secondary-color);
	border: 2px solid var(--secondary-color);
}

.button-border:active,
.button-border:hover {
	color: var(--white);
	background-color: var(--secondary-color);
}
