@media (min-width: 320px) {
	.section {
		padding: 2em var(--mobile-small-padding-320px);
	}
}

@media (min-width: 375px) {
	.section {
		padding: 2em var(--mobile-small-padding-375px);
	}
}

@media (min-width: 768px) {
	.section {
		padding: 2em var(--tablet-padding-768px);
	}
}

@media (min-width: 1024px) {
	.section {
		padding: 2em var(--desktop-small-padding-1024px);
	}
}

@media (min-width: 1080px) {
	.section {
		padding: 2em var(--desktop-large-padding-1080px);
	}

	.button {
		margin-right: auto;
		margin-left: 0;
		width: fit-content;
	}
}

@media (min-width: 1440px) {
	.section {
		padding: 2em var(--desktop-large-padding-1440px);
	}

	.button {
		margin-right: auto;
		margin-left: 0;
		width: fit-content;
	}
}
