* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: var(--white);
  font-family: 'Roboto Mono', monospace, sans-serif;
}

h1 {
  display: none;
}

h2 {
  font-weight: 400;
}

h3 {
  margin: 0 0 1em 0;
  font-weight: 400;
}

h4 {
  
}

p {
  margin: 0 0 0.5em 0;
  color: var(--white);
  font-size: 0.875em;
}

a {
  color: var(--white);
  text-decoration: none;
}

section {
  padding: 2em;
  background-color: var(--darkmode-3);
}

.h2-fancy {
  font-family: 'Palatino', serif;
}

.h2-small {
  font-size: 0.5em;
}

.text-color-function {
  color: var(--green);
}

.text-color-string {
  color: var(--yellow);
}

.text-color-number {
  color: var(--purple);
}

.text-color-pink {
  color: var(--pink);
}

.text-color-orange {
  color: var(--orange);
}

.text-color-blue {
  color: var(--blue);
  font-style: italic
}

.text-color-comment {
  color: var(--paragraph-color-comment);
}

.display-flex-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-flex-v {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

