* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right top, #152642, #13243f, #10223c, #0e203a, #0b1e37, #0d2039, #10233c, #12253e, #192d47, #203550, #283d59, #2f4562);
}

h1, h2, h3, h4, h5, h6, p, a {
  color: var(--white);
  font-family: 'Roboto Mono', monospace, sans-serif;
}

h1 {
  display: none;
}

h2 {
  font-size: 3.5em;
  font-weight: 400;
}

h3 {
  margin: 0 0 1em 0;
  font-weight: 400;
}

p {
  margin: 0 0 0.75em 0;
  color: var(--white);
  font-size: 0.875em;
}

a {
  color: var(--white);
}

section {
  position: relative;
  padding: 2em;
  background-color: var(--darkmode-3);
  border-bottom: 2px solid var(--darkmode-1);
}

aside {
  position: fixed;
  padding: 5em 2.5em;
  left: -100em;
  width: 80vw;
  height: 100%;
  background-color: var(--darkmode-3);
  border-right: 2px solid var(--darkmode-1);
  transition: 1s ease-in-out;
  z-index: 999;
}

aside nav a {
  margin: 1em 0;
  font-size: 1.5em;
  text-decoration: none;
}

aside nav a:first-of-type {
  margin-top: 0;
}

aside nav a:last-of-type {
  margin-bottom: 0;
}

.h2-fancy {
  font-family: 'Palatino', serif;
  font-style: italic;
}

.h2-small {
  font-size: 0.5em;
}

.text-color-function {
  color: var(--green);
}

.text-color-string {
  color: var(--yellow);
}

.text-color-number {
  color: var(--purple);
}

.text-color-pink {
  color: var(--pink);
}

.text-color-orange {
  color: var(--orange);
}

.text-color-blue {
  color: var(--blue);
  font-style: italic
}

.text-color-comment {
  color: var(--paragraph-color-comment);
}

.display-none {
  display: none!important;
}

.overflow-hidden {
  overflow: hidden;
}

.show {
  left: 0;
}

.display-flex-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-flex-v {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email-button {
  display: block;
  margin: 4em auto 0 auto;
  padding: 1em 2em;
  width: 100%;
  color: var(--black);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--white); 
  border-radius: 25px;
}

