@media (min-width: 768px) {

      h2 {
        font-size: 3.7em;
      }
      
      h3 {
        margin: 0 0 1.4em 0;
      }
      
      p {
        margin: 0 0 0.75em 0;
        font-size: 1em;
      }
      
      section {
        padding: 2em 7em;
      }

      aside {
        padding: 8em 4em 4em 7em;
        left: -37em;
      }
            
}