:root {
    --white: #FFFFFF;
    --black: #000000;
    --pink: #FF6188;
    --green: #A9DC76;
    --yellow: #FFD866;
    --orange: #FC9867;
    --purple: #AB9DF2;
    --blue: #78DCE8;
    --darkmode-1: #2F4562;
    --darkmode-2: #152642;
    --darkmode-3: #081B33;
    --paragraph-color-comment: #767D92;
}